<div class="col-md-6">
	<div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
			    <div class="panel-heading">
				<span class="panel-title"><i class="panel-title-icon fa fa-envelope"></i>Mail Lists</span>
				<div class="panel-heading-controls">
				    <div class="panel-heading-text">{#<a href="#">15 new tickets</a>#}</div>
				</div>
			    </div> <!-- / .panel-heading -->
			    <div class="panel-body tab-content-padding">
				<!-- Panel padding, without vertical padding -->
				<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
					{% for list in maillist %}
				    <div class="ticket">
					<span class="label label-success ticket-label">Active</span>
					<a href="{{ constant('PACKAGE_URL') }}crud/{{ list.id }}" title="" class="ticket-title">{{ list.name | capitalize }}<span></span></a>
					<span class="ticket-info">
					    Opened by <a href="#" title="">system</a>
					</span>
				    </div> <!-- / .ticket -->
					{% endfor %}
				</div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 93.55509355509356px; background: rgb(136, 136, 136);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
			    </div> <!-- / .panel-body -->
			</div>
</div>{# empty Twig template #}
