<div class="col-xs-4">
	<div class="stat-panel">
		<div class="stat-row">
			<!-- Small horizontal padding, bordered, without right border, top aligned text -->
			<div class="stat-cell col-sm-4 padding-sm-hr bordered no-border-r valign-top">
				<!-- Small padding, without top padding, extra small horizontal padding -->
				<h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa fa-cloud-upload text-primary"></i>&nbsp;&nbsp;Submissions</h4>
				<!-- Without margin -->
				<ul class="list-group no-margin">
					<!-- Without left and right borders, extra small horizontal padding, without background, no border radius -->
					{% for sub in submissions %}
					<li class="list-group-item no-border-hr padding-xs-hr no-bg no-border-radius">
						<a href="{{ package_url }}view/{{ sub.id }}">{{ sub.name }} <span class="label label-pa-purple pull-right">{{ sub.count }}</span></a>
					</li> <!-- / .list-group-item -->
					{% endfor %}
				</ul>
			</div> <!-- /.stat-cell -->
		</div>
	</div>
</div>