<div class="col-md-6 panel">
	<div class="panel-header">
		<h2>News and Events</h2>
	</div>
	<div class="panel-body">
		<ul class="list-group no-margin">
			<!-- Without left and right borders, extra small horizontal padding, without background, no border radius -->
			<li class="list-group-item no-border-hr padding-xs-hr no-bg no-border-radius">
				<a href="{{ package_url }}posts/view/news" >View News Posts </a>
			</li> <!-- / .list-group-item -->
		</ul>
	</div>
</div>