<form id="signin-form_id" method="POST">
	<div class="signin-text">
		<span>Sign In to your account</span>
	</div> <!-- / .signin-text -->

	<div class="form-group w-icon">
		<input data-default="false" type="text" name="username" id="username_id" class="form-control input-lg" placeholder="Username or Email">
		<span class="fa fa-user signin-form-icon"></span>
	</div> <!-- / Username -->

	<div class="form-group w-icon">
		<input data-default="false" type="password" name="password" id="password_id" class="form-control input-lg" placeholder="Password">
		<span class="fa fa-lock signin-form-icon"></span>
	</div> <!-- / Password -->

	<div class="form-actions">
		<input type="submit" value="SIGN IN" class="signin-btn bg-primary">
{#		<a href="#" class="forgot-password" id="forgot-password-link">Forgot your password?</a>#}
	</div> <!-- / .form-actions -->
</form>
